@font-face {
    font-family: BebasNeue;
    src: url('/static/fonts/BebasNeue.otf');
}

body {
    font-family: BebasNeue;

}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}

.background {
    background-image: url('/static/img/frontpage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#frontpage_1_1 {
}

#frontpage_1_2 {
    background-image: url('/static/img/frontpage/lincoln.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


#back_1_1 {
   background-color: rgba(233, 218, 176, 0.8);
   padding: 80px 40px 80px 10px;
}

#back_1_2 {
   background-color: rgba(199, 219, 232, 0.8);
}


#back_1_1 img {
    width: 100%;
}

.blueback {
   background-color: rgba(199, 219, 232, 0.8);
   color: #e6737a;
}

.blue2back {
   background-color: rgba(153, 183, 175, 0.8);
   color: #fff;
}

.gray2back {
   background-color: rgba(161, 159, 147, 0.8);
   color: white;
   margin: 10px;
   padding: 5px;
}

.gray3back {
   background-color: rgba(101, 84, 88, 0.8);
   color: white;
   margin: 10px;
   padding: 5px;
}

.gray4back {
   background-color: rgba(77, 60, 66, 0.9);
   color: white;
   margin: 10px;
   padding: 5px;
}

.grayback {
   background-color: rgba(148, 148, 148, 0.8);
   color: white;
}

.blue2back h2 {
    color: black;
}

.black {
    color: black;
}

.enquadrando {
   background-image: url('/static/img/frontpage/ewa.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
   color: white;
}

.enquadrando h1 {
   background-color: rgba(0,0,0,0.5);
}

.enquadrando h2 {
   color: #e7757c;
}

.lightred {
   color: #e7757c;
}

.enquadrando a {
    color: white;
}

.yellowback {
   background-color: rgba(248, 245, 224, 0.8);
   padding: 5px;
}

.yellowback h2 {
   font-size: 20px; 
}

.clearyellow {
   background-color: rgba(248,245,224, 0.8);
   padding: 5px 20px;
}

.estranhamento h1 {
   font-size: 23px; 
   color: #e7757c;

}

.pacificacao {
   background-image: url('/static/img/frontpage/yann.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
   height: 250px;
   padding: 0;
   text-align: right;
}

.pacificacao h2 {
   padding-top: 40px;
   padding-right: 20px;
   font-size: 24px; 
}

.pacificacao h3 {
   font-size: 20px; 
   padding-right: 10px;
   color: black;
}


.pacificacao .blueback {
   height: 250px;
   float: right;
   color: white;
   width: 100%;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
