<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/frontpage.css" rel="stylesheet">
</head>
<body class="background">
<div class="container">
    <div class="row">
            <div id="frontpage_1_1" class="col-md-5">
                <div id="back_1_1">
                   <img src="/static/img/logo-black.svg">
                </div>
            </div>
            <div id="frontpage_1_2" class="col-md-3 lincoln">
                <div id="back_1_2">
                    <h1>Entre-vista com as coisas</h1>
                    <h2>Por Lincoln Péricles</h2>
                </div>
            </div>
            <div id="frontpage_1_3" class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gray2back">
                            <a href="/edicao/1/Vicio_inerente"><h1 class="small">Vicio Inerente</h1></a>
                            <h2 class="black">Felipe Moraes</h2>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="gray3back">
                            <a href="/edicao/1/Labirintos_da_Terra_Brazylis"><h1 class="small">Labirintos da Terra Brazylis</h1></a>
                            <h2 class="lightred">Josafá Veloso</h2>
                            </div>
                        </div>
                   </div>
                   <div class="row blueback">
                        <div id="minhha" class="col-md-12" style="text-align: right;">
                            <a class="lightred" href="/edicao/1/Nao_voce_Como_voce/"><h1>Não você/Como você</h1></a>
                            <h2 class="black">por Trinh T. Minh-ha</h2>
                        </div>
                   </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="yellowback">
                    <a class="black" href="/edicao/1/A_dificil_relacao_entre_ver-ouvir"><h1>A difícil relação entre ver-ouvir</h1></a>
                    <h2>Isabel Carneiro</h2>
                    </div>
               </div>
                <div class="col-md-8 pacificacao">
                <div class="blueback">
                    <h2>p.a.c.i.f.i.c.a.ç.ã.o</h2>
                    <h3>por Yann Beauvais</h3>
                </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                     <div class="gray3back">
                    <a href="/edicao/1/Cinemas_Indigenas"><h1 class="small">Cinemas indígenas e trânsitos da representação</h1></a>
                    <h2 class="lightred">Caio Lazaneo</h2>
                   </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="row enquadrando">
                <div class="back">
                <div class="col-md-6">
                    &nbsp;
                </div>
                <div class="col-md-6 back">
                    <a href="/edicao/1/Enquadrando_um_terrorista/"><h1 class="small"> Enquadrando um terrorista</h1></a>
                    <h2 class="ssmall">Ewa Mazierska</h2>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="gray4back">
                    <a href="/edicao/1/Concepcao_leonica"><h1>Concepção Leônica Rodrigal Colorífera</h1></a>
                    <h2 class="lightred">Letícia Simões</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blue2back">
                    <a href="/edicao/1/O_Cinema_Experimental"><h1> O cinema experimental na era do capitalismo flexível</h1></a>
                    <h2>Andre Meirelles Collazzi</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="yellowback estranhamento">
                    <a href="/edicao/1/Notas_por_uma_estetica_do_estranhamento"><h1>Notas por uma estética do estranhamento</h1></a>
                    <h2>SEBASTIAN WIEDEMANN</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="clearyellow2">
                    <a href="/edicao/1/CINEGRADA"><h1 class="lightred">Cinegrada</h1></a>
                    <h2 class="black">Crua</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">

        </div>




    </div>
</div>
<!-- include jQuery -->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/javascripts/bootstrap.min.js"></script>
</body>
</html>
